@import "variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/utilities/display";
@import "~bootstrap/scss/utilities/flex";
@import "~bootstrap/scss/utilities/spacing";
@import "~bootstrap/scss/utilities/background";
@import "~bootstrap/scss/utilities/text";
@import "~bootstrap/scss/utilities/borders";
@import "~bootstrap/scss/utilities/sizing";

.stretch {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

ul {
  @include list-unstyled();
  margin-bottom: 0;
}

.h-100vh {
  height: 100vh;
}

.clickable {
  cursor: default;
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.box-shadow {
  box-shadow: $box-shadow;
}